<div class="row">
	<div class="col-md-3 col-sm-4">
		<h3><%= Spree.t(:my_favorites) %>:</h3>
	</div>
	<div class="col-md-9 col-sm-8 pull-right">  
		<% if @favorites.present? %>
		  <% f_products = @favorites.reject{|f| f.favorable_type != 'Spree::Product'}.map{|f| f.favorable }[0..2] %>
		  <%= render :partial => 'spree/shared/products', :locals => { :products => f_products } %>
		<% else %>
		  <p><%= Spree.t(:you_have_no_favorites_yet) %></p>
		<% end %>
	</div>
</div>