<p class="favorite-links">
	<% if has_favorite?(@supplier) %>
		
		<%= link_to "Unfollow this lender", favorite_path(get_favorite(@supplier), favorable_id: @supplier.id, favorable_type: 'Spree::Supplier'), method: :delete, remote: true, id: "favorable_supplier_#{@supplier.id}" %>
	
	<% else %>
	
		<%= link_to favorites_path(favorable_id: @supplier.id, favorable_type: 'Spree::Supplier'), method: :post, remote: true, id: "favorable_supplier_#{@supplier.id}" do %>
			<button class="btn btn-success" style="margin-right: 10px;">&nbsp;&nbsp;<i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;</button>
			Follow this lender
		<% end %>
	
	<% end %>
</p>